In [12]:
from sqlalchemy import create_engine
import urllib
params = urllib.parse.quote_plus("DRIVER={SQL Server Native Client 11.0};"
                                 "SERVER=LAPTOP-NMOCQ6NJ;"
                                 "DATABASE=master;"
                                 "UID=sa;"
                                 "PWD=123456")

engine = create_engine("mssql+pyodbc:///?odbc_connect={}".format(params))

In [13]:
connection = engine.connect()
table_names = engine.table_names()
connection.close() #important: close the connection
table_names

['BOOKS',
 'Loan_Accounts',
 'MSreplication_options',
 'spt_fallback_db',
 'spt_fallback_dev',
 'spt_fallback_usg',
 'spt_monitor']

In [14]:
connection = engine.connect()
query = "select * from Loan_Accounts"
query_result = connection.execute(query)
actual_result = query_result.fetchall()
#important: close the connection
connection.close()
actual_result

[(1, 'R.K. Gupta', 30000, 36, 12.0, datetime.date(2009, 7, 19), 0),
 (2, 'S.P. Sharma', 50000, 48, 10.0, datetime.date(2008, 3, 22), 0),
 (3, 'K.P. Jain', 30000, 36, None, datetime.date(2007, 3, 8), 0),
 (4, 'M.P. Yadav', 80000, 60, 10.0, datetime.date(2008, 6, 12), 0),
 (5, 'S.P. Sinha', 20000, 36, 12.5, datetime.date(2010, 1, 3), 0),
 (6, 'P. Sharma', 70000, 60, 12.5, datetime.date(2008, 6, 5), 0),
 (7, 'K.S. dhall', 50000, 48, None, datetime.date(2009, 3, 5), 0)]

In [43]:
from sqlalchemy import create_engine
engine = create_engine("mssql+pyodbc:///?odbc_connect={}".format(params))

In [44]:
from sqlalchemy import MetaData
meta = MetaData()

In [45]:
from sqlalchemy import Table, Column, Integer, String, MetaData
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

In [46]:
meta.create_all(engine)

In [48]:
ins = students.insert()

In [49]:
'INSERT INTO students (id, name, lastname) VALUES (:id, :name, :lastname)'

'INSERT INTO students (id, name, lastname) VALUES (:id, :name, :lastname)'

In [50]:
#ins = users.insert().values(name = 'Karan')
#str(ins)
#'INSERT INTO users (name) VALUES (:name)'

In [51]:
ins.compile().params
{'name':'Karan'}

{'name': 'Karan'}

In [52]:
conn = engine.connect()

In [53]:
ins = students.insert().values(name = 'Ravi', lastname = 'Kapoor')
result = conn.execute(ins)

2020-05-22 09:05:17,048 INFO sqlalchemy.engine.base.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2020-05-22 09:05:17,049 INFO sqlalchemy.engine.base.Engine ('Ravi', 'Kapoor')
2020-05-22 09:05:17,250 INFO sqlalchemy.engine.base.Engine COMMIT
2020-05-22 09:05:22,363 INFO sqlalchemy.engine.base.Engine ROLLBACK

OperationalError: (sqlite3.OperationalError) database is locked
(Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

ins = students.insert()
ins = students.insert().values(name = 'Ravi', lastname = 'Kapoor')
conn = engine.connect()
result = conn.execute(ins)

In [ ]:
result.inserted_primary_key
[1]

In [ ]:
conn.execute(students.insert(), [
   {'name':'Rajiv', 'lastname' : 'Khanna'},
   {'name':'Komal','lastname' : 'Bhandari'},
   {'name':'Abdul','lastname' : 'Sattar'},
   {'name':'Priya','lastname' : 'Rajhans'},
])

In [ ]:
s = students.select()

In [ ]:
'SELECT students.id, students.name, students.lastname FROM students'

In [54]:
result = conn.execute(s)

2020-05-22 09:05:23,700 INFO sqlalchemy.engine.base.Engine SELECT students.id, students.name, students.lastname
FROM students
2020-05-22 09:05:23,701 INFO sqlalchemy.engine.base.Engine ()

In [55]:
SELECT student.id, students.name, students.lastname
FROM students

SyntaxError: invalid syntax (<ipython-input-55-8b1e19742692>, line 1)