In [1]:
import pandas as pd

In [2]:
college = pd.read_csv('data/college.csv')
college.head()

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

Read in the college dataset, assign for the column index to a variable, and output it

In [3]:
columns = college.columns
columns

Index(['INSTNM', 'CITY', 'STABBR', 'HBCU', 'MENONLY', 'WOMENONLY', 'RELAFFIL',
       'SATVRMID', 'SATMTMID', 'DISTANCEONLY', 'UGDS', 'UGDS_WHITE',
       'UGDS_BLACK', 'UGDS_HISP', 'UGDS_ASIAN', 'UGDS_AIAN', 'UGDS_NHPI',
       'UGDS_2MOR', 'UGDS_NRA', 'UGDS_UNKN', 'PPTUG_EF', 'CURROPER', 'PCTPELL',
       'PCTFLOAN', 'UG25ABV', 'MD_EARN_WNE_P10', 'GRAD_DEBT_MDN_SUPP'],
      dtype='object')

Use the values attribute to access the underlying NumPy array:

In [4]:
columns.values

array(['INSTNM', 'CITY', 'STABBR', 'HBCU', 'MENONLY', 'WOMENONLY',
       'RELAFFIL', 'SATVRMID', 'SATMTMID', 'DISTANCEONLY', 'UGDS',
       'UGDS_WHITE', 'UGDS_BLACK', 'UGDS_HISP', 'UGDS_ASIAN', 'UGDS_AIAN',
       'UGDS_NHPI', 'UGDS_2MOR', 'UGDS_NRA', 'UGDS_UNKN', 'PPTUG_EF',
       'CURROPER', 'PCTPELL', 'PCTFLOAN', 'UG25ABV', 'MD_EARN_WNE_P10',
       'GRAD_DEBT_MDN_SUPP'], dtype=object)

Select items from the index by integer location with scalars, lists,or slices:

In [5]:
columns[5]

'WOMENONLY'

In [6]:
columns[[1,8,10]]

Index(['CITY', 'SATMTMID', 'UGDS'], dtype='object')

In [7]:
columns[-7:-4]

Index(['PPTUG_EF', 'CURROPER', 'PCTPELL'], dtype='object')

Indexes share many of the same methods as Series and DataFrames:

In [8]:
columns.min()

'CITY'

In [9]:
columns.max()

'WOMENONLY'

In [10]:
columns.isnull().sum()

0

Use basic arithmetic and comparison operators directly on Index objects:

In [11]:
columns + '_A'

Index(['INSTNM_A', 'CITY_A', 'STABBR_A', 'HBCU_A', 'MENONLY_A', 'WOMENONLY_A',
       'RELAFFIL_A', 'SATVRMID_A', 'SATMTMID_A', 'DISTANCEONLY_A', 'UGDS_A',
       'UGDS_WHITE_A', 'UGDS_BLACK_A', 'UGDS_HISP_A', 'UGDS_ASIAN_A',
       'UGDS_AIAN_A', 'UGDS_NHPI_A', 'UGDS_2MOR_A', 'UGDS_NRA_A',
       'UGDS_UNKN_A', 'PPTUG_EF_A', 'CURROPER_A', 'PCTPELL_A', 'PCTFLOAN_A',
       'UG25ABV_A', 'MD_EARN_WNE_P10_A', 'GRAD_DEBT_MDN_SUPP_A'],
      dtype='object')

In [12]:
columns + '_G'

Index(['INSTNM_G', 'CITY_G', 'STABBR_G', 'HBCU_G', 'MENONLY_G', 'WOMENONLY_G',
       'RELAFFIL_G', 'SATVRMID_G', 'SATMTMID_G', 'DISTANCEONLY_G', 'UGDS_G',
       'UGDS_WHITE_G', 'UGDS_BLACK_G', 'UGDS_HISP_G', 'UGDS_ASIAN_G',
       'UGDS_AIAN_G', 'UGDS_NHPI_G', 'UGDS_2MOR_G', 'UGDS_NRA_G',
       'UGDS_UNKN_G', 'PPTUG_EF_G', 'CURROPER_G', 'PCTPELL_G', 'PCTFLOAN_G',
       'UG25ABV_G', 'MD_EARN_WNE_P10_G', 'GRAD_DEBT_MDN_SUPP_G'],
      dtype='object')

Trying to change an Index value directly after its creation fails. Indexes are
immutable objects:

In [13]:
columns[1]='city'

TypeError: Index does not support mutable operations

Indexes support the set operations, union, intersection, difference, and symmetric
difference:

In [14]:
c1 = columns[:4]
c1

Index(['INSTNM', 'CITY', 'STABBR', 'HBCU'], dtype='object')

In [15]:
c2 = columns[2:6]
c2

Index(['STABBR', 'HBCU', 'MENONLY', 'WOMENONLY'], dtype='object')

In [16]:
c1.union(c2) #or 'c1 |c2'

Index(['CITY', 'HBCU', 'INSTNM', 'MENONLY', 'STABBR', 'WOMENONLY'], dtype='object')

In [17]:
c1.symmetric_difference(c2) #or 'c1 ^ c2'

Index(['CITY', 'INSTNM', 'MENONLY', 'WOMENONLY'], dtype='object')

Construct two Series that have indexes that are different but contain some of the
same values:

In [18]:
import numpy as np
s1 = pd.Series(index=list('aaab'), data=np.arange(4))
s1

a    0
a    1
a    2
b    3
dtype: int32

In [20]:
s2 = pd.Series(index = list('cababb'), data = np.arange(6))
s2

c    0
a    1
b    2
a    3
b    4
b    5
dtype: int32

In [21]:
s1 + s2

a    1.0
a    3.0
a    2.0
a    4.0
a    3.0
a    5.0
b    5.0
b    7.0
b    8.0
c    NaN
dtype: float64

In [ ]:
s1 = pd.Series(index= )