Q.1.Demonstrate with example, how you can select (a)one column (b)two columns of DF.

In [10]:
import pandas as pd 
movie = pd.read_csv('movie.csv')
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinner,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [11]:
#(a)
director = movie[['director_name']]
director.head()

       director_name
0      James Cameron
1     Gore Verbinski
2         Sam Mendes
3  Christopher Nolan
4        Doug Walker

In [15]:
#(b)
director = movie[['director_name','duration']]
director.head()

       director_name  duration
0      James Cameron     178.0
1     Gore Verbinski     169.0
2         Sam Mendes     148.0
3  Christopher Nolan     164.0
4        Doug Walker       NaN

Q.2.What will happen when you pass (a) a string (b) a list into the indexing operatorof DF

#(a)
When we pass the string into the indexing operator of DF,
then print the same column which is passes into indexing operator.
Types of DataFrame is series

In [24]:
#eg.
director = movie['director_name']
type(director)

pandas.core.series.Series

#(b)
When we pass the list into the indexing operator of DF,
then print the same columns which is passes into indexing operator.
Types of DataFrame is DataFrame

In [26]:
#eg.
director = movie[['director_name','duration']]
type(director)

pandas.core.frame.DataFrame

Q.3.Select a single column from a DF in such a way that the result is also a DF.

In [31]:
director = movie[['director_name']]
director.head()

       director_name
0      James Cameron
1     Gore Verbinski
2         Sam Mendes
3  Christopher Nolan
4        Doug Walker

In [30]:
type(director)

pandas.core.frame.DataFrame

Q.4.Give two common reasons for KeyError in a DF.

We pass the string into the indexing operator of DF and this string is not present the DF,
then we have KeyError

Q.5.Explain how you can select columns of a DF using (a) Indexing operator (b) select_dtype()
and filter() methods.

In [35]:
#(a)
director = movie[['director_name','duration']]
director.head()

       director_name  duration
0      James Cameron     178.0
1     Gore Verbinski     169.0
2         Sam Mendes     148.0
3  Christopher Nolan     164.0
4        Doug Walker       NaN

In [4]:
#(b)
import pandas as pd
movie = pd.read_csv('movie.csv')
movie.get_dtype_counts()

float64    13
int64       3
object     12
dtype: int64

 This method
is flexible and searches column names based on which
parameter is used. Here, we use the like parameter to search for all column
names that contain the exact string, facebook:

In [6]:
#(c)
movie.filter(like = 'facebook').head()

,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,cast_total_facebook_likes,actor_2_facebook_likes,movie_facebook_likes
0,0.0,855.0,1000.0,4834,936.0,33000
1,563.0,1000.0,40000.0,48350,5000.0,0
2,0.0,161.0,11000.0,11700,393.0,85000
3,22000.0,23000.0,27000.0,106759,23000.0,164000
4,131.0,NaN,131.0,143,12.0,0

Q.6.Output the number of columns with each specific data type in a DF.

In [7]:
movie.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

Q.7.Explain one main difference between select_dtypes() and filter methods.

The 'select_dtypes' method takes