In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
movie = pd.read_csv('data/movie.csv')
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinner,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [3]:
movie = pd.read_csv('data/movie.csv')
index = movie.index
columns = movie.columns
data = movie.values

In [4]:
index

RangeIndex(start=0, stop=4916, step=1)

In [5]:
columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [6]:
data

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

In [7]:
type(index)

pandas.core.indexes.range.RangeIndex

In [8]:
type(columns)

pandas.core.indexes.base.Index

In [9]:
type(data)

numpy.ndarray

In [10]:
index.values

array([   0,    1,    2, ..., 4913, 4914, 4915], dtype=int64)

In [11]:
columns.values

array(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'], dtype=object)

In [12]:
movie = pd.read_csv('data/movie.csv')
movie.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [13]:
movie.get_dtype_counts()

float64    13
int64       3
object     12
dtype: int64

In [14]:
movie1 = movie['actor_2_name']
movie1

0           Joel David Moore
1              Orlando Bloom
2                Rory Kinner
3             Christian Bale
4                 Rob Walker
5            Samantha Morton
6               James Franco
7               Donna Murphy
8          Robert Downey Jr.
9           Daniel Radcliffe
10              Lauren Cohan
11             Marlon Brando
12           Mathieu Amalric
13             Orlando Bloom
14               Ruth Wilson
15        Christopher Meloni
16      Pierfrancesco Favino
17         Robert Downey Jr.
18               Sam Claflin
19         Michael Stuhlbarg
20                Adam Brown
21           Andrew Garfield
22              William Hurt
23                Adam Brown
24                 Eva Green
25        Thomas Kretschmann
26              Kate Winslet
27        Scarlett Johansson
28       Alexander SkarsgÃ¥rd
29                Judy Greer
                ...
4886          Panchito GÃ³mez
4887      Katharine Isabelle
4888       Richard Linklater
4889            Mikaal Bates
4890           Suzi Lorraine
4891             Lisa Arnold
4892         Brittany Curran
4893         Alana Kaniewski
4894           Katie Aselton
4895           Olwenya Maina
4896           Heather Burns
4897             Jason Trost
4898              Mink Stole
4899          BÃ©atrice Dalle
4900       Nargess Mamizadeh
4901           Michael Parle
4902           Anna Nakagawa
4903          Michael Cortez
4904              Joe Coffey
4905       Stanley B. Herman
4906          David Sullivan
4907         Edgar Tancangco
4908         Peter Marquardt
4909          John Considine
4910      Caitlin FitzGerald
4911           Daphne Zuniga
4912           Valorie Curry
4913           Maxwell Moody
4914           Daniel Henney
4915        Brian Herzlinger
Name: actor_2_name, Length: 4916, dtype: object

In [15]:
movie1.to_frame()

              actor_2_name
0         Joel David Moore
1            Orlando Bloom
2              Rory Kinner
3           Christian Bale
4               Rob Walker
5          Samantha Morton
6             James Franco
7             Donna Murphy
8        Robert Downey Jr.
9         Daniel Radcliffe
10            Lauren Cohan
11           Marlon Brando
12         Mathieu Amalric
13           Orlando Bloom
14             Ruth Wilson
15      Christopher Meloni
16    Pierfrancesco Favino
17       Robert Downey Jr.
18             Sam Claflin
19       Michael Stuhlbarg
20              Adam Brown
21         Andrew Garfield
22            William Hurt
23              Adam Brown
24               Eva Green
25      Thomas Kretschmann
26            Kate Winslet
27      Scarlett Johansson
28     Alexander SkarsgÃ¥rd
29              Judy Greer
...                    ...
4886        Panchito GÃ³mez
4887    Katharine Isabelle
4888     Richard Linklater
4889          Mikaal Bates
4890         Suzi Lorraine
4891           Lisa Arnold
4892       Brittany Curran
4893       Alana Kaniewski
4894         Katie Aselton
4895         Olwenya Maina
4896         Heather Burns
4897           Jason Trost
4898            Mink Stole
4899        BÃ©atrice Dalle
4900     Nargess Mamizadeh
4901         Michael Parle
4902         Anna Nakagawa
4903        Michael Cortez
4904            Joe Coffey
4905     Stanley B. Herman
4906        David Sullivan
4907       Edgar Tancangco
4908       Peter Marquardt
4909        John Considine
4910    Caitlin FitzGerald
4911         Daphne Zuniga
4912         Valorie Curry
4913         Maxwell Moody
4914         Daniel Henney
4915      Brian Herzlinger

[4916 rows x 1 columns]

In [16]:
movie = pd.read_csv('data/movie.csv')
movie['director_name']

0            James Cameron
1           Gore Verbinski
2               Sam Mendes
3        Christopher Nolan
4              Doug Walker
5           Andrew Stanton
6                Sam Raimi
7             Nathan Greno
8              Joss Whedon
9              David Yates
10             Zack Snyder
11            Bryan Singer
12            Marc Forster
13          Gore Verbinski
14          Gore Verbinski
15             Zack Snyder
16          Andrew Adamson
17             Joss Whedon
18            Rob Marshall
19        Barry Sonnenfeld
20           Peter Jackson
21               Marc Webb
22            Ridley Scott
23           Peter Jackson
24             Chris Weitz
25           Peter Jackson
26           James Cameron
27           Anthony Russo
28              Peter Berg
29         Colin Trevorrow
               ...
4886            Eric Eason
4887              Uwe Boll
4888     Richard Linklater
4889       Joseph Mazzella
4890          Travis Legge
4891         Alex Kendrick
4892         Marcus Nispel
4893       Brandon Landers
4894           Jay Duplass
4895            Jim Chuchu
4896            Daryl Wein
4897           Jason Trost
4898           John Waters
4899       Olivier Assayas
4900          Jafar Panahi
4901         Ivan Kavanagh
4902      Kiyoshi Kurosawa
4903          Tadeo Garcia
4904    Thomas L. Phillips
4905       Ash Baron-Cohen
4906         Shane Carruth
4907      Neill Dela Llana
4908      Robert Rodriguez
4909       Anthony Vallone
4910          Edward Burns
4911           Scott Smith
4912                   NaN
4913      Benjamin Roberds
4914           Daniel Hsia
4915              Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [17]:
movie.director_name

0            James Cameron
1           Gore Verbinski
2               Sam Mendes
3        Christopher Nolan
4              Doug Walker
5           Andrew Stanton
6                Sam Raimi
7             Nathan Greno
8              Joss Whedon
9              David Yates
10             Zack Snyder
11            Bryan Singer
12            Marc Forster
13          Gore Verbinski
14          Gore Verbinski
15             Zack Snyder
16          Andrew Adamson
17             Joss Whedon
18            Rob Marshall
19        Barry Sonnenfeld
20           Peter Jackson
21               Marc Webb
22            Ridley Scott
23           Peter Jackson
24             Chris Weitz
25           Peter Jackson
26           James Cameron
27           Anthony Russo
28              Peter Berg
29         Colin Trevorrow
               ...
4886            Eric Eason
4887              Uwe Boll
4888     Richard Linklater
4889       Joseph Mazzella
4890          Travis Legge
4891         Alex Kendrick
4892         Marcus Nispel
4893       Brandon Landers
4894           Jay Duplass
4895            Jim Chuchu
4896            Daryl Wein
4897           Jason Trost
4898           John Waters
4899       Olivier Assayas
4900          Jafar Panahi
4901         Ivan Kavanagh
4902      Kiyoshi Kurosawa
4903          Tadeo Garcia
4904    Thomas L. Phillips
4905       Ash Baron-Cohen
4906         Shane Carruth
4907      Neill Dela Llana
4908      Robert Rodriguez
4909       Anthony Vallone
4910          Edward Burns
4911           Scott Smith
4912                   NaN
4913      Benjamin Roberds
4914           Daniel Hsia
4915              Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [18]:
type(movie['director_name'])

pandas.core.series.Series

In [19]:
director = movie['director_name']
director.name

'director_name'

In [20]:
director.to_frame()

           director_name
0          James Cameron
1         Gore Verbinski
2             Sam Mendes
3      Christopher Nolan
4            Doug Walker
5         Andrew Stanton
6              Sam Raimi
7           Nathan Greno
8            Joss Whedon
9            David Yates
10           Zack Snyder
11          Bryan Singer
12          Marc Forster
13        Gore Verbinski
14        Gore Verbinski
15           Zack Snyder
16        Andrew Adamson
17           Joss Whedon
18          Rob Marshall
19      Barry Sonnenfeld
20         Peter Jackson
21             Marc Webb
22          Ridley Scott
23         Peter Jackson
24           Chris Weitz
25         Peter Jackson
26         James Cameron
27         Anthony Russo
28            Peter Berg
29       Colin Trevorrow
...                  ...
4886          Eric Eason
4887            Uwe Boll
4888   Richard Linklater
4889     Joseph Mazzella
4890        Travis Legge
4891       Alex Kendrick
4892       Marcus Nispel
4893     Brandon Landers
4894         Jay Duplass
4895          Jim Chuchu
4896          Daryl Wein
4897         Jason Trost
4898         John Waters
4899     Olivier Assayas
4900        Jafar Panahi
4901       Ivan Kavanagh
4902    Kiyoshi Kurosawa
4903        Tadeo Garcia
4904  Thomas L. Phillips
4905     Ash Baron-Cohen
4906       Shane Carruth
4907    Neill Dela Llana
4908    Robert Rodriguez
4909     Anthony Vallone
4910        Edward Burns
4911         Scott Smith
4912                 NaN
4913    Benjamin Roberds
4914         Daniel Hsia
4915            Jon Gunn

[4916 rows x 1 columns]

In [21]:
import pandas as pd
s_attr_methods = set(dir(pd.Series))
len(s_attr_methods)

NameError: name 's_attr_method' is not defined

In [ ]:
df_attr_methods = set(dir(pd.DataFrame))
len(df_attr_methods)

In [ ]:
len(s_attr_methods & df_attr_methods)

In [ ]:
movie = pd.read_csv('data/movie.csv')
director = movie['director_name']
actor_1_fb_likes = movie['actor_1_facebook_likes']

In [ ]:
director.head()

In [ ]:
actor_1_fb_likes.head()

In [ ]:
director.value_counts()

In [ ]:
actor_1_fb_likes.value_counts()

In [ ]:
director.size

In [ ]:
director.shape

In [ ]:
len(director)

In [ ]:
director.count()

In [ ]:
actor_1_fb_likes.count()

In [ ]:
actor_1_fb_likes.min(), actor_1_fb_likes.max(), \
actor_1_fb_likes.mean(), actor_1_fb_likes.median(), \
actor_1_fb_likes.std(), actor_1_fb_likes.sum(), \

In [ ]:
actor_1_fb_likes.describe()

In [ ]:
director.describe()

In [ ]:
actor_1_fb_likes.quantile(.2)

In [ ]:
actor_1_fb_likes.quantile([.1,.2,.3,.4,.5,.6,.7,.8,.9])

In [ ]:
director.isnull()

It is possible to replace all missing valueswithin the series with the 'fillna' method

In [ ]:
actor_1_fb_likes_filled = actor_1_fb_likes.fillna(0)
actor_1_fb_likes_filled.count()

To remove the series elements with missing values,use dropna.

In [ ]:
actor_1_fb_likes_dropped = actor_1_fb_likes.dropna()
actor_1_fb_likes_dropped.size

value_counts method is one of the most informative Series method and heavily used during exploratory analysis,especially with categorical columns.

In [ ]:
director.value_counts(normalize = True)

In [ ]:
director.hasnans

In [ ]:
director.notnull()

In [ ]:
import pandas as pd
movie = pd.read_csv('data/movie.csv')
imdb_score = movie['imdb_score']
imdb_score

In [ ]:
imdb_score + 1

In [ ]:
imdb_score *2.5

In [ ]:
imdb_score//7

In [ ]:
imdb_score>7

In [ ]:
director = movie['director_name']
director == 'James Cameron'

In [ ]:
movie = pd.read_csv('data/movie.csv')
actor_1_fb_likes = movie['actor_1_facebook_likes']
director = movie['director_name']

In [ ]:
director.value_counts().head(3)

In [ ]:
actor_1_fb_likes.dtype

In [ ]:
actor_1_fb_likes.fillna(0)\
                .astype(int)\
                .head()

In [ ]:
actor_1_fb_likes.isnull().mean()

In [ ]:
(actor_1_fb_likes.fillna(0)
                 .astype(int)
                 .head())

In [ ]:
import pandas as pd
movie = pd.read_csv('data/movie.csv')
movie2 = movie.set_index('movie_title')
movie2

In [ ]:
movie1 = pd.read_csv('data/movie.csv',index_col = 'movie_title')
movie1

In [ ]:
movie = pd.read_csv('data/movie.csv',index_col='movie_title')
movie

In [ ]:
movie2.reset_index()

In [ ]:
movie = pd.read_csv('data/movie.csv',index_col = 'movie_title')
movie

In [ ]:
idx_rename = {'Avatar':'Ratava','Spectre':'Ertceps'}
col_rename = {'director_name':'Director Name',
             'num_critic_for_reviews':'Critical Reviews'}

In [ ]:
movie_renamed = movie.rename(index=idx_rename,
                          columns=col_rename)
movie_renamed.head()

In [ ]:
movie = pd.read_csv('data/movie.csv',index_col = 'movie_title')
index = movie.index
columns = movie.columns
index_list = index.tolist()
column_list = columns.tolist()

In [ ]:
index_list[0] = 'Ratava'
index_list[2] = 'Ertceps'
column_list[1] = 'Director Name'
column_list[2] = 'Critical Reviews'

In [ ]:
print(index_list)

In [ ]:
print(column_list)